{
  "printWidth": 150,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "jsxBracketSameLine": true
}
